---
import backToTopIcon from '../assets/back-to-top.svg'
---

<div id="back-to-top-wrapper">
  <a href="#main-content" id="back-to-top" aria-label="Back to top">
    <img {...backToTopIcon} alt="" />
  </a>
</div>
