---
const footerClass = 'hidden p-2 text-[14px] leading-[1.5] text-footer sm:block'
---

<footer class={footerClass}>
  Powered by
  <a
    href="https://github.com/miantiao-me/BroadcastChannel"
    title="BroadcastChannel"
    target="_blank"
    rel="noopener noreferrer"
  >
    BroadcastChannel
  </a> &
  <a href="https://github.com/Planetable/SiteTemplateSepia" title="Sepia" target="_blank" rel="noopener noreferrer">
    Sepia
  </a>
</footer>
